* {
    font-family: Arial;
}

body{
    margin: 0;
    height: 0;  
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: center;
    height: 122px;
}

.container {
    width: 993px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

img {
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #888888;
    font-family: Arial;
}

nav .active a, nav a:hover {
    background-color: #42b3e5;
    color: #fff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url( '../images/img1.jpg' );
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-flow: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: #fff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner-options {
    height: 211px;
    display: flex;
}

.banner1, .banner3, .banner2 {
    flex: 1;
    color: #fff;
    padding: 21px;
}

.banner1 {
    background-color: #42b3e5;
}

.banner2 {
    background-color: #0384ce;
}

.banner3 {
    background-color: #3156a3;
}

.banner_title {
    font-size: 18px;
}

.banner_desc {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0px #aaa;
    display: flex;
    flex-direction: column;
}

.banner-options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.list {
    width: 255px;
    display: flex;
    justify-content: space-between;
}

.list2 {
    width: 255px;
    display: flex;
    justify-content: space-between
}

.list3 {
    width: 255px;
    display: flex;
    justify-content: space-between;
}

.banner_desc .list, .banner_desc .list2, .banner_desc .list3 {
    margin-top: 5px;
    padding-bottom: 7px;
    border-bottom: 1px solid #4468b2;
}


.banner-1, .banner-2, .banner-3 {
    color: #fff;
    font-size: 15px;
    justify-content: center;
    flex: 1;
}


#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget-title {
    margin-top: 22px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight : bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #42b3e5;
    margin-top: 10px;
    margin-bottom: 30px;
}

.widget_primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3156a3;
    width: 321px;
    height: 39px;
    margin-top: 29px;
    padding-right: 12px;
}

.widget_primary_right {
    display: flex;
    width: 13px;
    height: 1px;
    background-color: #fff;
}

.widget_primary_traço {
    display: flex;
    align-items: center;
    background-color: #3156a3;
    width: 332px;
    height: 39px;
    margin-top: 29px;   
}

.widget_primary_contain {
    display: flex;
}

.widget_primary_text {
    color: #fff;
    padding-left: 13px;
}

.widget_primary_banner {
    margin-top: 20px;
    width: 75px;
    height: 75px;
}

.widget_primary_resume {
    display: flex;
    margin-top: 36px;
    margin-left: 26px;
    color: #666666;
    font-size: 14px;
    line-height: 17px;
}

.widget_primary_details a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3156a3;
    width: 87px;
    height: 30px;
    color: #fff;
    margin-top: 38px;
    text-decoration: none;
}

.widget_primary_details a:hover {
    background-color: #42b3e5;
}

.widget_primary_top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 34px;
}

.widget_primary_timetable a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3156a3;
    width: 99px;
    height: 30px;
    color: #fff;
    margin-top: 38px;
    margin-left: 2px;
    text-decoration: none;
}

.widget_primary_timetable a:hover {
    background-color: #42b3e5;
}

.widget_columns_contain a {
    display: flex;
    display: block;
    flex-flow: column;
    padding-bottom: 13px;
    text-decoration: none;
    color: #666666;
}

.widget_columns_contain_1 a:hover, .widget_columns_contain_2 a:hover, .widget_columns_contain_3 a:hover, .widget_columns_contain_4 a:hover, .widget_columns_contain_4 a:hover, .widget_columns_contain_5 a:hover, .widget_columns_contain_6 a:hover, .widget_columns_contain_7 a:hover, .widget_columns_contain_8 a:hover {
    color: #4468b2;
    display: block;
}


.mais a{
    display: flex;
    flex-flow: column;
    color: #3156a3;
    font-size: 20px;
}

.widget_columns_contain_1, .widget_columns_contain_2, .widget_columns_contain_3, .widget_columns_contain_4, .widget_columns_contain_4, .widget_columns_contain_5, .widget_columns_contain_6, .widget_columns_contain_7, .widget_columns_contain_8 {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    text-decoration: none;
    color: #666666;
    margin: 13px;
}

.widget_body_ult .widget_body_resume {
    color: #666666;
    line-height: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 32px;
}

.widget_body_byphone .number {
    display: flex;
    color: #000;
}

.widget_body_byphone {
    display: flex;
    color: #666666;
    margin-top: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 32px;
}

.widget_body_byemail {
    display: flex;
    color: #666666;
    margin-top: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 32px;
}

.widget_body_orfill {
    display: flex;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 32px;
}

.widget_body_orfill .orfill a {
    display: flex;
    color: #3156a3;
    border-bottom: 1px dotted #3156a3;
    text-decoration: none;
}

.widget_body_orfill .orfill a:hover {
    color: #3156a3;
    border-bottom: 1px solid #3156a3;
}

.widget_body_byemail .mail a {
    display: flex;
    color: #3156a3;
    border-bottom: 1px dotted #3156a3;
    text-decoration: none;
}

.widget_body_byemail .mail a:hover {
    color: #3156a3;
    border-bottom: 1px solid #3156a3;
}

article .news_data {
    display: flex;
    margin-top: 0;
}

article .news-data {
    display: flex;
    margin-top: 0;
    margin-top: 30px;
}

article .news_posted_at {
    background-color: #3156a3;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

article .news_comments {
    background-color: #42b3e5;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-left: 2px;
}

article .news_tumb img {
    width: 100%;
    height: auto;
}

article .news_tumb {
    margin-top: 30px;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 30px;
}

article .news_title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #000;
}

article .news_resume {
    display: flex;
    color: #666666;
    font-size: 14px;
    line-height: 19px;
}

article .news-resume {
    display: flex;
    color: #666666;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 30px;
}

article a {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline #000;
}

.widget_body {
    display: flex;
}

.dental, .dental1, .dental2 {
    display: flex;
    color: #909090;
    font-size: 11px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #e0e0e0;
}

.dental2 {
    display: flex;
    color: #909090;
    font-size: 11px;
    padding-bottom: 26px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #e0e0e0;
}

article .dental a, article .dental1 a, article .dental2 a {
    color: #909090;
    text-decoration: underline;
}

article .dental a:hover, article .dental1 a:hover, article .dental2 a:hover {
    color: #3156a3;
    text-decoration: underline;
}

.showall {
    display: flex;
    justify-content: flex-end;
    color: #3156a3;
}

.showall_text a {
    color: #3156a3;
    border-bottom: 1px dotted #3156a3;
}

.showall_text a:hover {
    border-bottom: 1px solid #3156a3;
}

footer {
    background-color: #202020;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.footer_menu_resume a {
    font-size: 15px;
    margin-top: 5px;
    padding-bottom: 20px;
}

.footer_menu_title {
    font-size: 21px;
}

.fm_1 {
    background-color: #42b3e5;
}

.fm_2 {
    background-color: #0384ce;
}

.fm_3 {
    background-color: #3156a3;
}

.footer_area {
    display: flex;   
}

.footer_areaitem {
    flex: 1;
    color: #fff;
    height: 425px;
}

.flexcolumn {
    flex-flow: column;
}

footer .widget_title_text {
    color: #fff;
}

.footer_copy {
    border-top: 1px solid #353535;
    height: 40px;
    line-height: 40px;
    color: #909090;
    font-size: 12px;
    margin-top: 30px;
}

.footer_widget_body {
    color: #909090;
    font-size: 15px;
    width: 310px;
    line-height: 23px;
}

.footer_widget_body_bottom {
    display: flex;
    line-height: 23px;;
    color: #909090;
    margin-top: 33px;
}


.resume_right {
    display: flex;
    align-items: center;
    width: 100px;
    margin-left: 30px;
}

.resume_left {
    width: 130px;
    font-size: 15px;
}

.resume_right_mail a{
    display: flex;
    text-decoration: none;
    color: #d5d5d5;
    margin-left: 30px;
    width: 143px;
    font-size: 14px;
}

.resume_right_mail a:hover {
    display: flex;
    border-bottom: 1px solid #d5d5d5;
}

.resume_container {
    margin-top: 25px;
}

.resume_right_icons .icon1{
    display: flex;
    background-image: url('../images/facebook_icon.png');
    width: 29px;
    height: 29px;
    cursor: pointer;
}

.resume_right_icons .icon2 {
    display: flex;
    background-image: url('../images/twitter_icon.png');
    width: 29px;
    height: 29px;
    margin-left: 11px;
    cursor: pointer;
}

.resume_right_icons .icon3 {
    display: flex;
    background-image: url('../images/googleplus_icon.png');
    width: 29px;
    height: 29px;
    margin-left: 11px;
    cursor: pointer;
}

.resume_right_icons .icon4 {
    display: flex;
    background-image: url('../images/mail_icon.png');
    width: 29px;
    height: 29px;
    margin-left: 11px;
    cursor: pointer;
}

.resume_right_icons{
    display: flex;
    width: 140px;
    height: 29px;
    margin-top: 31px;
}

.widget_body_title_text {
    display: flex;
    color: #d5d5d5;
    line-height: 19px;
    font-size: 13px;
    width: 280px;
    margin-bottom: 5px;
}

.widget_body_date a {
    color: #42b3e5;
    text-decoration: none;
    font-size: 13px;
}

.widget_body_date a:hover {
    border-bottom: 1px solid #42b3e5;
}

.widget_center_title_lorem_text {
    display: flex;
    color: #d5d5d5;
    margin-top: 20px;
    line-height: 19px;
    font-size: 15px;
    width: 280px;
    margin-bottom: 5px;
}

.widget_center_title_date a {
    text-decoration: none;
    color: #42b3e5;
    margin-bottom: 12px;
    font-size: 13px;
}

.widget_center_title_date a:hover {
    border-bottom: 1px solid #42b3e5;
}

.widget_center_text {
    height: 400px;
}

.widget_center_text .widget_body_date a, .widget_center_text .widget_center_title_date a, .widget_center_text .widget_resume_date_end a {
    margin-bottom: 24px;
}

.widget_title_text_end {
    display: flex;
    color: #d5d5d5;
    margin-top: 20px;
    line-height: 19px;
    font-size: 15px;
    width: 280px;
    margin-bottom: 5px;
}

.widget_resume_date_end a {
    color: #42b3e5;
    text-decoration: none;
    font-size: 13px;
}

.widget_resume_date_end a:hover {
    border-bottom: 1px solid #42b3e5;
}

.widget_body_title_text_end {
    color: #d5d5d5;
    font-size: 13px;
    width: 350px;
    margin-bottom: 11px;
    line-height: 15px;
}

.widget_body_title_text_end .link, .widget_body_title_text_end_center .link, .widget_body_title_text_end_end .link {
    text-decoration: none;
    color: #fff;
    height: 11px;
}

.widget_body_title_text_end .link:hover, .widget_body_title_text_end_center .link:hover, .widget_body_title_text_end_end .link:hover {
    border-bottom: 1px solid #fff;
}

.widget_body_title_text_end_center {
    color: #d5d5d5;
    font-size: 13px;
    width: 350px;
    margin-bottom: 11px;
    line-height: 15px;
    margin-top: 20px;
}

.widget_body_title_text_end_end {
    color: #d5d5d5;
    font-size: 13px;
    width: 350px;
    margin-bottom: 11px;
    line-height: 15px;
    margin-top: 20px;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #0384ce;
}

@media (max-width: 600px) {

    body {
        width: 600px;
    }

    .banner_headline h1 {
        font-size: 64px;
        margin-left: 40px;
        margin-top: 100px;
    }

    .banner_headline h2 {
        margin-left: 40px;
        font-size: 24px;
        text-shadow: 1px 1px 0px rgb(0%,0%,0%);
    }
    .banner-options {
        height: auto;
        flex-flow: column;
    }

    .banner-options a {
        font-size: 12px;
    }

    .banner_desc {
        font-size: 14px;
    }

    .banner1, .banner3, .banner2 {
        padding: 12px;
    }

    .widget_title_text {
        margin-left: 208px;
        margin-top: 33px;
    }

    .footer_widget_body {
        margin-left: 208px;
    }

    .footer_widget_body_bottom {
        margin-left: 208px;
    }

    .widget_title_bar {
        margin-left: 208px;
    }

    footer .widget_title_text {
        margin-left: 208px;
        width: 200px;
    }

    .widget_body_title_text {
        margin-left: 208px;
    }

    article .news_tumb img {
        width: 98%;
    }

    .widget_primary {
        width: 250px;
    }

    .widget_primary_resume {
        width: 156px;
        margin-top: 16px;
    }

    .widget_center_text .widget_body_date a, .widget_center_text .widget_center_title_date a, .widget_center_text .widget_resume_date_end a {
        margin-left: 208px;
    }

    .widget_center_title_lorem_text {
        margin-left: 208px;
    }

    .widget_title_text_end {
        margin-left: 208px;
    }

    article .news_posted_at {
        margin-left: 44px;
    }

    article .news_title {
        margin-left: 45px;
    }

    article .news_resume {
        margin-left: 35px;
    }

    article .news_resume {
        margin-left: 45px;
    }

    .dental, .dental1, .dental2 {
        margin-left: 45px;
    }

    .widget_columns_contain_1, .widget_columns_contain_2, .widget_columns_contain_3, .widget_columns_contain_4, .widget_columns_contain_4, .widget_columns_contain_5, .widget_columns_contain_6, .widget_columns_contain_7, .widget_columns_contain_8 {
        width: 244px;
    }

    .depar {
        margin-top: 377px;
        margin-left: 45px;
    }

    .footer_menu a {
        padding-top: 9px;
    }

    .fm_1 {
        margin-left: 56px;
    }

    .container {
        width: 650px;
    }

    .showall {
        margin-bottom: 10px;
    }

    .banner1 {
        margin-top: 119px;
    }

    .widget {
       padding-top: 10px;    
    }

    .makeam {
        margin-top: 0px;
        margin-right: 400px;
    }

    .widget_primary_top {
        margin-right: 142px;
    }

    .makean {
        margin-left: 0px;
    }

    .widget_body_ult .widget_body_resume {
        width: 268px;
    }

    .widget_body_title_text_end {
        margin-left: 208px;
    }

    .widget_body_date a {
        margin-left: 208px;
    }

    .widget_body_title_text_end_center {
        margin-left: 208px;
    }

    .widget_body_title_text_end_end {
        margin-left: 208px;
    }

    .footer_copy {
        margin-left: 150px;
    }

    .Latest {
        margin-top: 366px;
        margin-left: 49px;
        width: 300px;
    }

    .Depart {
        margin-left: 49px;
    }

    .footer_area {
        flex-direction: column;
    }

    .widget_center_text {
        height: 217px;
    }

    .fm_1, .fm_2,.fm_3 {
        flex: 0.3;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #000000f4;
        top: 75px;          
    }

    header {
        height: auto;
    }

    .logo {
        margin-left: 22px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}